@page
@model Electronics_Items_Management.Pages.Customer_Details.EditModel

@{
    ViewData["Title"] = "Edit";
}
<!--code to set the location of headings-->
<style>
    h1 {
        text-align: center
    }
</style>
<!--code to display the customer detail table after editing details-->
<h1>Customer Detail</h1>
<h4>Edit Page</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer_Detail.Id" />
            <div class="form-group">
                <label asp-for="Customer_Detail.Customer_Name" class="control-label">Customer Name</label>
                <input asp-for="Customer_Detail.Customer_Name" class="form-control" />
                <span asp-validation-for="Customer_Detail.Customer_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Detail.Email" class="control-label">Email</label>
                <input asp-for="Customer_Detail.Email" class="form-control" />
                <span asp-validation-for="Customer_Detail.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Detail.Phone" class="control-label">Phone</label>
                <input asp-for="Customer_Detail.Phone" class="form-control" />
                <span asp-validation-for="Customer_Detail.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Detail.Delivery_Address" class="control-label">Delivery Address</label>
                <input asp-for="Customer_Detail.Delivery_Address" class="form-control" />
                <span asp-validation-for="Customer_Detail.Delivery_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">GO TO HOME PAGE</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
