@page
@model Electronics_Items_Management.Pages.Order_Details.CreateModel

@{
    ViewData["Title"] = "Create";
}
<!--code to set the location of headings-->
<style>
    h1 {
        text-align: center
    }
</style>
<!--code to display the order detail table after adding new details-->
<h1>Order Detail</h1>

<h4>Create Page</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order_Detail.Quantity" class="control-label">Quantity</label>
                <input asp-for="Order_Detail.Quantity" class="form-control" />
                <span asp-validation-for="Order_Detail.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Detail.Discount" class="control-label">Discount</label>
                <input asp-for="Order_Detail.Discount" class="form-control" />
                <span asp-validation-for="Order_Detail.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Detail.Customer_DetailId" class="control-label">Customer Detail</label>
                <select asp-for="Order_Detail.Customer_DetailId" class="form-control" asp-items="ViewBag.Customer_DetailId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order_Detail.Product_DetailId" class="control-label">Product Detail</label>
                <select asp-for="Order_Detail.Product_DetailId" class="form-control" asp-items="ViewBag.Product_DetailId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">GO TO HOME PAGE</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
