@page
@model Electronics_Items_Management.Pages.Order_Details.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<!--code to set the location of headings-->
<style>
    h1 {
        text-align: center
    }
</style>
<!--code to delete the order table details-->
<h1>Order Detail</h1>

<h3>Delete Page</h3>

<h4>Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Quantity
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order_Detail.Quantity)
        </dd>
        <dt class="col-sm-2">
            Discount
        </dt>
        <dd class="col-sm-10">
            Discount
        </dd>
        <dt class="col-sm-2">
            Customer Detail
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order_Detail.Customer_Detail.Customer_Name)
        </dd>
        <dt class="col-sm-2">
            Product Detail
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order_Detail.Product_Detail.Product_Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Order_Detail.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">GO TO HOME PAGE</a>
    </form>
</div>
