@page
@model Electronics_Items_Management.Pages.Category_Details.CreateModel

@{
    ViewData["Title"] = "Create";
}
<!--code to set the location of headings-->
<style>
    h1 {
        text-align: center
    }
</style>
<!--code to display the category detail table after adding new details-->
<h1>Category Detail</h1>

<h4>Create Page</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category_Detail.Product" class="control-label">Product</label>
                <input asp-for="Category_Detail.Product" class="form-control" />
                <span asp-validation-for="Category_Detail.Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category_Detail.Category_Type" class="control-label">Category</label>
                <input asp-for="Category_Detail.Category_Type" class="form-control" />
                <span asp-validation-for="Category_Detail.Category_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">GO TO HOME PAGE</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
