@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--code to display the home image and link the navigation bar with other tables-->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>The electronics sector produces electronic equipment and consumer electronics and manufactures electrical components for a variety of products. Common items in the electronics sector include mobile devices, televisions, and circuit boards. </p>
    <img src="~/img/home.jpg" />

</div>



